/__init__.pyc
/account_invoice.pyc
/call_report_questions.pyc
/categories.pyc
/contarct_cancel_reason.pyc
/crm_helpdesk.pyc
/material_request.pyc
/modes_of_contact.pyc
/product.pyc
/res_config.pyc
/resolutions.pyc
/rma.pyc
/root_causes.pyc
/sale.pyc
/sla.pyc
/stock.pyc
/sub_categories.pyc
/support_contract.pyc
/supported_products.pyc
/warranty_status.pyc
